{% load static %}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Event{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Peralta">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">	
	<link rel="stylesheet" href="{% static 'css/app.css' %}">
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div id="wrap">
		<div id="header">
			<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
				<div class="container">
					<a class="navbar-brand" href="{% url 'home:event_ft' %}">Events</a>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerEvent" aria-controls="navbarTogglerEvent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerEvent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="#">Sign up</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Log in</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'home:event_bk' %}">Events BackEnd</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>		
		<div id="main">	
			<div class="jumbotron p-0 mb-0">
				<div style="background:url({% static 'image/banner.jpg' %}) center center; background-size:cover; width: 100%;height:400px"></div>
			</div>
			<div class="container-fluid pt-3 pb-2">
				<div class="container">
					<div class="row h-100" >
						<form class="form-inline w-100">
							<div class="col-4 px-0 pl-lg-3 pr-lg-1 pl-md-3 pr-md-1" >							
								<input class="form-control w-100" type="search" placeholder="Filter Category " aria-label="Search">															
							</div>
							<div class="col-4 px-1" >
								<input class="form-control w-100" type="search" placeholder="Filter Location" aria-label="Search">	
							</div>
							<div class="col-4 pl-3" >
								<div class="row" >
									<div class="col-10 w-100 px-1"><input class="form-control w-100" type="search" placeholder="Search" aria-label="Search"></div>
									<div class="col-2 w-100 px-1"><button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		</div id="footer"></div>
	</div>
</body>
</html>