{% load static %}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Event{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
	<div id="wrap">
		<div id="header"></div>
		<div id="main">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">
					{% block brand %}Event{% endblock %}
				</a>
			</nav>
			<div class="container-fluid">
				<div class="row" style="height:100vh">
					<div class="col-2 collapse d-md-flex bg-faded pt-2" id="menuleft">
						<ul class="nav flex-column">							
							<li class="nav-item"><a href="{% url 'home:event_ft' %}">Home</a></li>
							<li class="nav-item"><a href="{% url 'home:event_bk' %}">Events</a></li>
							<li class="nav-item"><a href="{% url 'home:location_bk' %}">Location</a></li>
							<li class="nav-item"><a href="{% url 'home:category_bk' %}">Category</a></li>
						</ul>
					</div>
					<div class="col pt-2" id="content">						
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		</div id="footer"></div>
	</div>
</body>
</html>