{% extends 'base_bk.html' %}
<!--==Title==-->
{% block title %}
	Location
{% endblock %}
<!--==Nvbar Brand==-->
{% block brand %}
	Event
{% endblock %}
<!--==Content==-->
{% block content %}
	<!--Form nhap lieu-->
	<div id="app_form" class="mb-4">
		{% if id == None %}
		   <form action="{% url 'home:event_bk' %}" method="post">
		{% else %}
		   <form action="{% url 'home:event_bk_update' id=id %}" method="post">
		{% endif %}
		   {% csrf_token %}
			<input type="submit" value="Submit" />	
			<div class="row">
				<div class="col-md-6">
					<div class="row my-2">
						<div class="col-4">{{ form.name.label}}</div>
						<div class="col-8">{{ form.name}}</div>
					</div>
					<div class="row my-2">
						<div class="col-4">{{ form.category.label}}</div>											
						<div class="col-8">
							<select name="category" id="id_category" style="width:100%">
								{% for name in form.category %}
									{{ name }}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row my-2">
						<div class="col-4">{{ form.organizer.label}}</div>
						<div class="col-8">{{ form.organizer}}</div>
					</div>
					<div class="row my-2">
						<div class="col-4">{{ form.location.label}}</div>
						<div class="col-8">
							<select name="location" id="id_location" style="width:100%">
								{% for name in form.location %}
									{{ name }}
								{% endfor %}
							</select>
						</div>
					</div>					
				</div>
				<div class="col-md-6">
					<div class="row my-2">
						<div class="col-4">{{ form.start_date.label}}</div>
						<div class="col-8">{{ form.start_date}}</div>
					</div>
					<div class="row my-2">
						<div class="col-4">{{ form.end_date.label}}</div>
						<div class="col-8">{{ form.end_date}}</div>
					</div>		
					<div class="row my-2">
						<div class="col-4">{{ form.phone.label}}</div>
						<div class="col-8">{{ form.phone}}</div>
					</div>	
				</div>
			</div>
		</form>
	</div>
{% if list_item|length %}
	<table class="table table-bordered table-sm table-striped">
		<thead style="background:#818182">
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Organizer</th>
				<th>Location</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Phone</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in list_item %}
			<tr >
				<td>{{ item.name }}</td>
				<td>{{ item.category }}</td>
				<td>{{ item.organizer }}</td>
				<td>{{ item.location }}</td>
				<td>{{ item.start_date }}</td>
				<td>{{ item.end_date }}</td>
				<td>{{ item.phone }}</td>
				<td><a href="{% url 'home:event_bk_update' id=item.id %}">Edit</a></td>
				<td><a href="{% url 'home:event_bk_remove' id=item.id %}">Remove</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}