{% extends 'base_ft.html' %}
{% block content %}	
	<div class="row">		
		{% if list_item|length %}
			{% for item in list_item|dictsortreversed:"start_date" %}
				<div class="col-md-4">
					<div class="event-ft-list">			
						<a href="{{ item.get_absolute_url }}">												
							<h3 class="text-success event-ft-h3">
								<span>{{ item.name }}</span>
							</h3>
							<p style="margin-bottom: .2rem;">Organized by: {{ item.organizer }}</p>
							<div class="row">								
								<div class="col-md-12">											
									{% if item.start_date %}
										<span class="fa fa-clock-o fa-fw"></span> {{ item.start_date|date:'Y-m-d' }} - {{ item.end_date|date:'Y-m-d' }}<br/>
									{%endif%}
									<span class="fa fa-map-marker fa-fw"></span> {{ item.location.name}} - {{ item.location.street}} - {{ item.location.city}}<br/>
									<span class="fa fa-tag fa-fw"></span> {{ item.category }}<br/>
									<span class="fa fa-phone fa-fw"></span> {{ item.phone }}										
								</div>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>	
{% endblock %}
